html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

#menu {
    width: 25%;
    height: 100%;
    background: lightskyblue;
}

#menu ul {
    list-style: none;
    padding: 0;
    line-height: 70px;
    margin: 0;
}

#menu ul li {
    border: 1px solid orange;
    color: white;
    font-weight: bold;
    padding: 10px;
}

#menu ul li:hover {
    background: cadetblue;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

#dashboard {
    width: 75%;
    min-height: 600px;
    padding: 40px;
}

label {
    font-size: 14px;
}