<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css')}}">
    <title>Plan Project</title>
</head>
<body>
    <div class="container">
        <div id="menu">
            <ul>
                {% for item in data %}
                <li>{{item[1]}}</li>
                <li> + Add aim</li>
                {% endfor %}
            </ul>
        </div>
        <div id="dashboard"></div>
    </div>
</body>
</html>